/* Reset básico e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OCR', monospace;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    user-select: none;
    max-width: 20%; 
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 180px; /* Aumente este valor para mais espaçamento */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margem direita do último item para evitar espaço extra */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transição suave para o efeito de hover */
}

nav ul li a:hover {
    background-color: #fff;
    color: #5E17EB;
    border-radius: 5px; /* Adiciona bordas arredondadas ao efeito de hover */
}

section {
    padding: 80px 0;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #fff;
}

.secao-azul {
    background-color: #925AFE;
}

.secao-azul img {
    padding-top: 50px;
    width: 400px;
}

.secao-roxo {
    background-color: #5E17EB;
}

.secao-rosa {
    background-color: #431ca0;
}

.servico, .produto {
    margin-bottom: 60px;
}

.servico h3, .produto h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

.servico p, .produto p {
    font-size: 1.2em;
    color: #f2f2f2;
    line-height: 1.8;
}

.membro {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 1%;
    color: #fff;
}

.membro img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .membro {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px; 
    }

    header img {
        max-width: 40%; 
    }

    nav ul {
        display: block; 
        text-align: center; 
    }

    nav ul li {
        display: block; 
        margin: 0;
        margin-bottom: 10px; 
    }

    nav ul li a {
        padding: 10px 0; 
        display: block; 
    }

    .servico, .produto {
        margin-bottom: 40px; 
    }

    .servico img, .produto img {
        width: 100%; 
    }

    .membro {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .membro img {
        width: 100%; 
        height: auto; 
    }
}
