/* Reset básico e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OCR', monospace;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
    margin: 0; /* Certifique-se de que não há margem no body */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 16px 0;
    text-align: center;
}

header img {
    user-select: none;
    max-width: 20%; 
}

nav ul {
    list-style-type: none;
    padding: 0; /* Remove padding padrão do ul */
}

nav ul li {
    display: inline;
    margin-right: 130px; /* Aumente este valor para mais espaçamento */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margem direita do último item para evitar espaço extra */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transição suave para o efeito de hover */
}

nav ul li a:hover {
    background-color: #fff;
    color: #5E17EB;
    border-radius: 5px; /* Adiciona bordas arredondadas ao efeito de hover */
}

section {
    padding: 60px 0;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

.secao-azul {
    position: relative;
    background-color: #5D17EB;
    color: #fff;
}

.secao-azul img {
    padding-bottom: 20px;
    width: 70%;
}
