/* Reset básico e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header img {
    margin-left: -35px;
    user-select: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 180px; /* Aumente este valor para mais espaçamento */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margem direita do último item para evitar espaço extra */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 80px 0;
    text-align: center;
    margin-bottom: 80px; /* Added margin to space out sections */
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #fff;
}

.secao-azul {
    background-color: #925AFE;
}

.secao-roxo {
    background-color: #5E17EB;
}

.secao-rosa {
    background-color: #CD86FE;
}

.servico, .produto {
    margin-bottom: 60px;
}

.servico h3, .produto h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

.servico p, .produto p {
    font-size: 1.2em;
    color: #f2f2f2;
    line-height: 1.8;
}

.membro {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1%;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}

.membro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    background-color: #1e215d;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 80px; /* Added margin to space out from previous section */
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .membro {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}
